body{
    background: #f0f0f0;
}


.underline-animate{
    position: relative;
}

.underline-animate::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #39bc69, #166323, #285625);   
    transition: all 0.4s ease
}

.underline-animate:hover::before{
    width: 100%;
}

.carta{
  width: 100%;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 200px;

}

.carousel{
  margin: 0 auto;
  padding: 20px 0;
  max-width: 800px;
  overflow: hidden;
  display: flex; > * { flex: 0 0 50% }
  &:hover .grupo{
    animation-play-state: paused;
  }
}

.grupo{
  display: flex;
  gap: 2px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 20s linear infinite;
}


.scroll-item{
  animation: showElement linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-duration:0.5s ;
}

.transition-delay-200{
  animation-delay: 5s;
}

.scroll-items-left{
  animation: showElementLeft linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  animation-duration: 0.5s;
}


.fade-carousel{
  animation: carouselFade 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-item-right{
  animation: showElementRight linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-duration: 0.5s;
}

.scroll-items-down{
  animation: showElementDown ease-in forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  animation-duration: 1s;
}


@keyframes scrolling {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-300%);
  }
  
}


@keyframes showElementDown {
  from{
    opacity: 0;
    transform: translateY(-50%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
  
}

@keyframes showElementRight {
  from{
    opacity: 0;
    transform: hidden;
    transform: translateX(50%);
  }
  to{
    opacity: 1;
    transform: block;
    transform: translateX(0);
  }

  
}


@keyframes showElementLeft {
  from{
    opacity: 0;
    transform: translateX(-50%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
  
}

@keyframes fade-carousel {
  from{
    opacity: 0;
    transform: scale(0.98);

  }
  to{
    opacity: 1;
    transform: scale(1);

  }
}

@keyframes animacion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
