html{
  scroll-behavior: smooth;
}

body{
  background: #05172f;
}

body::-webkit-scrollbar{
  display: none;
}


.underline-animate{
    position: relative;
}

.underline-animate::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #39bc69, #166323, #285625);   
    transition: all 0.4s ease
}

.underline-animate:hover::before{
    width: 100%;
}

/* ---------------------- CSS CONVENIOS ---------------------- */

.carta{
  width: 100%;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(255, 255, 255, 0.1) 5px 5px 20px 0;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 200px;

}

.carousel{
  margin: 0 auto;
  padding: 20px 0;
  max-width: 800px;
  overflow: hidden;
  display: flex; > * { flex: 0 0 50% }
  &:hover .grupo{
    animation-play-state: paused;
  }
}

.grupo{
  display: flex;
  gap: 2px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 10s linear infinite;
}




.scroll-items-left{
  animation: showElementLeft linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  animation-duration: 0.5s;
}

.scroll-items-right{
  animation: showElementRight linear forwards;
  will-change: transform, opacity;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  animation-duration: 1s;
}

.scroll-items-top{
  animation: showElementTop linear forwards;
  animation-timeline: view();
  will-change: transform, opacity;
  animation-range: entry 0% cover 30%;
  animation-duration: 1s;
}



@keyframes showElementLeft {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}

@keyframes showElementRight {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}

@keyframes showElementTop {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
  
}


@keyframes scrolling {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-300%);
  }
  
}

/* ---------------------- CSS CONVENIOS FIN ---------------------- */


/* *--------------------- ANIMACIONES TRANSLATE ------------------ */

.animation-show-left{
  will-change: transform, opacity;
  animation: elementLeft 0.9s linear forwards;
}


.animation-show-right{
  will-change: transform, opacity;
  animation: elementRight 0.9s linear forwards;
}


.animation-show-top-right{
  will-change: trasnsform, opacity;
  animation: slideTopRight 2s linear forwards;
}


.animation-popup{
  will-change: transform, opacity;
  animation: popup 1s linear forwards;
}

@keyframes popup{
  0%{
    opacity: 0;
    filter: brightness(0%);
  }
  100%{
    opacity: 1;
    filter: brightness(50%);
  }
}

@keyframes slideTopRight {
  0%{
    transform: translateY(-100%) translateX(100%); 
    opacity: 0;
  }
  100%{
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  
}


@keyframes elementLeft {
  0%{
    transform: translateX(-50%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes elementRight {
  0%{
    transform: translateX(50%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}


.animate-translateY{
  will-change: transform, opacity;
  animation: translateY 0.9s linear forwards;
}



@keyframes translateY {
  0%{
    transform: translateY(-300px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
  
}

/* *--------------------- ANIMACIONES TRANSLATE FIN ------------------ */



/* ---------------------- CLIP PATHS Y HERO CIRCULOS ---------------------- */

.clip{
clip-path: polygon(100% 0, 100% 44%, 0 100%, 0 45%);
}


.clip-invert{
  clip-path: polygon(60% 0, 0 0, 0 100%, 40% 100%);
}

.clip-horizontal{
  clip-path: polygon(100% 25%, 100% 82%, 0 82%, 0 25%);
}


/* ---------------------- CLIP PATHS Y HERO CIRCULOS FIN ---------------------- */


